<% provide(:title, @title) %>
<div></div>
<%= @user.email %>
<%= link_to "View my profile", @user %>
<%= @user.posts.count %>

<div class="col-md-8">
<h3><%= @title %></h3>
<% if @users.any? %>
    <ul class="users follow">
    <% @users.each do |user| %>
        <%= user.email %>
    <% end %>
    </ul>
<% end %>
</div>
