<% @user ||= current_user %>
<div class="profileWrap">
    <div class="profileHeader">
        <div class="profileHeaderLeft">
            <div class="profileImage"><%= image_tag @user.avatar.url, class:"profileAvatar" if @user.avatar.present? %></div>
        </div>
        <div class="profileHeaderRight">
            <div class="profileNumWrap">
                <div class="profileNumLeft">
                    <%= link_to following_user_path(@user) do %>
                        <div class="profileNumTitle">フォロー中</div>
                        <div class="profileNum" id="following"><%= @user.following.count %></div>
                    <% end %>
                </div>
                <div class="profileNumCenter">
                    <%= link_to followers_user_path(@user) do %>
                        <div class="profileNumTitle">フォロワー</div>
                        <div class="profileNum" id="followers"><%= @user.followers.count %></div>
                    <% end %>
                </div>
                <div class="profileNumRight">
                    <div class="profileNumTitle">ライク</div>
                    <div class="profileNum">2</div>
                </div>
            </div>
            <% if current_user.id == @user.id %>
                <p class="profileEdit">
                    <%= link_to "プロフィール編集", edit_user_registration_path %>
                </p>
            <% end %>
        </div>
    </div>
    <%= render 'follow_form' if user_signed_in? %>
    <div class="profileBottom">
        <p class="profileName">ユーザー名<%= @user.name %></p>
        <p class="profileName">ユーザーID<%= @user.username %></p>
        <p class="profileText"><%= @user.introduce %></p>
    </div>
</div>

<div class="profileImagesWrap">
    <div class="profileImagesList">
        <% @posts.each do |post| %>
            <div class="postedImageWrap"><%= image_tag post.image.url, class:"postedImage"  unless post.image.blank? %></div>
        <% end %>
    </div>
</div>