<% provide(:title, @title) %>

<div class="relationshipWrap">
<h3><%= @title %></h3>
<% if @users.any? %>
    <div class="users follow">
            <% @users.each do |user| %>
            <div class="relationshipItem">
                <%= link_to user do %>
                    <% if  user.avatar.present? %>
                        <div class="relationshipItemImage">
                            <%= image_tag user.avatar.to_s, class:"icon" %>
                        </div>
                    <% else %>
                        <div class="relationshipItemImage">
                            <i class="fas fa-user"></i>
                        </div>
                    <% end %>
                <% end %>
                <div class="relationshipItemName">
                    <%= user.name %>
                </div>
                <div class="relationshipItemRight">
                    <% unless current_user?(@user) %>
                        <div id="follow_form" class="relationshipButton">
                    <% if current_user.following?(@user) %>
                        <%= render 'unfollow' %>
                    <% else %>
                        <%= render 'follow' %>
                    <% end %>
                        </div>
                    <% end %>
                </div>
                
            </div>
            <% end %>
    </div>
<% else %>
    <p>まだ<%= @title %>はいません。</p>
<% end %>
</div>


