<% @user ||= current_user %>
<div class="profileWrap container">
    <% if user_signed_in? %>
        <% unless current_user?(@user) %>
        <div id="follow_form" class="followFormPosition">
        <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
        <% else %>
            <%= render 'follow' %>
        <% end %>
        </div>
        <% end %>    
    <% end %>
    <div class="profileHeader">
        <div class="profileHeaderLeft">
            <div class="profileImage">
                <% if  @user.avatar.present? %>
                    <%= image_tag @user.avatar.to_s, class:"profileAvatar" %>
                <% else %>
                    <i class="fas fa-user"></i>
                <% end %>
            </div>
        </div>
        <div class="profileHeaderRight">
            <div class="profileNumWrap">
                <div class="profileNumLeft">
                    <div class="profileNumTitle">フォロー中</div>
                    <%= link_to following_user_path(@user) do %>
                        <div class="profileNum" id="following"><%= @user.following.count %></div>
                    <% end %>
                </div>
                <div class="profileNumCenter">
                    <div class="profileNumTitle">フォロワー</div>
                    <%= link_to followers_user_path(@user) do %>
                        <div class="profileNum" id="followers"><%= @user.followers.count %></div>
                    <% end %>
                </div>
                <div class="profileNumRight">
                    <div class="profileNumTitle">投稿数</div>
                    <div class="profileNum"><%= @user.posts.count %></div>
                </div>
            </div>
            <% if user_signed_in? && current_user.id == @user.id %>
                <p class="profileEdit">
                    <%= link_to "プロフィール編集", edit_user_registration_path, class:"profileFormButton" %>
                </p>
            <% end %>
        </div>
    </div>
    <div class="profileBottom">
        <p class="profileName"><%= @user.name %></p>
        <p class="profileText"><%= @user.introduce %></p>
        <div id="calendar"></div>
    </div>
</div>

<div class="squarePostList container" id="usersShow">
    <%= render @posts %>
</div>
<%= will_paginate @posts %>

<script>
$(function(){
    var user_id = <%= @user.id %>
    $('#calendar').fullCalendar({
        displayEventTime:false,
        displayEventTitle:true,
        events: `/users/${user_id}.json`,
        eventRender:function(event, element){
            var dataToFind = moment(event.start).format('YYYY-MM-DD');
            $("td[data-date='"+dataToFind+"']").addClass('activeDay');
        }
     });
})
</script>