<% if user_signed_in? %>
    <div class="tabWrap">
        <div class="tab container">
            <%= link_to root_path, class:"tabLeft-active" do %>
                <div>新着</div>
            <% end %>
            <%= link_to posts_path, class:"tabRight" do %>
                <div>フォロー中</div>
            <% end %>
        </div>
    </div>
    <br>

    <div class="squarePostList container" id="pagesIndex">
        <%= render @posts %>
    </div>
    <%= will_paginate @posts %>
<% else %>
    <div class="welcome">
        <p><%= link_to '初めて訪れた方へ', about_path, class:"welcomeLetter" %></p>
    </div>  
<% end %>



