<%= form_tag search_path, :method => 'get', class:"container" do %>
    <div>
        <%= text_field_tag :search, nil, placeholder:"検索", class:"searchForm" %>
    </div>
    <div>
        <%= submit_tag '検索', :name => nil, class:"searchSubmit" %>
    </div>
<% end %>

<div class="squarePostList container">
    <% @posts.each do |post| %>
    <div class="squarePostItem">
        <% if !post.image.blank? %>
            <%= link_to(post, class:"squarePostLink") do %><!-- プレビューさせる -->
                <%= image_tag(post.image.to_s, class:"squarePostImage")%>
            <% end %>
        <% end %>
    </div>
    <% end %>
</div>