<%= form_tag search_path, :method => 'get', class:"container" do %>
    <div>
        <%= text_field_tag :search, nil, placeholder:"検索", class:"searchForm" %>
    </div>
    <div>
        <%= submit_tag '検索', :name => nil, class:"searchSubmit" %>
    </div>
<% end %>

<div class="squarePostList container" id="pagesSearch">
    <%= render @posts %>
</div>
<%= will_paginate @posts %>