<div class="postContainer">
<% @posts.each do |post| %>
    <div class="post">
        <div class="postHeader">
            <div class="postHeaderLeft">
                <div class="iconWrap"><%= image_tag post.user.avatar.url, class:"icon" if post.user.avatar.url.present? %></div>
                <div class="username"><%= post.user.email %></div>
            </div>
            <div class="postHeaderRight">
                <div class="followButton">フォローボタン</div>
            </div>
        </div>
        <div class="postImageWrap">
            <%= image_tag post.image.url, class:"postImage" unless post.image.blank? %>
        </div>
        <div class="postText">
            <%= post.text %>
        </div>
        <% if user_signed_in? && post.user.id == current_user.id %>
            <%= link_to post, method: :delete, data:{ confirm: "Are you sure you want to delete this tweeet?"}  do %>
                <span class="icon">投稿を消す</span>
            <% end %>
        <% end %>
    </div>
<% end %>
</div>
