<div class="postCard container">
    <div class="cardHeader">
        <div class="cardHeaderLeft">
            <div class="profileImage">
                <% if  @user.avatar.present? %>
                    <%= link_to @user do %>
                    <%= image_tag @user.avatar.to_s, class:"profileAvatar" %>
                    <% end %>
                <% else %>
                    <%= link_to @user do %>
                    <i class="fas fa-user"></i>
                    <% end %>
                <% end %>
            </div>
            <div class="postCardName"><%= @user.name %></div>
        </div>
        <div class="cardHeaderRight">
            <% if user_signed_in? %>
                <% unless current_user?(@user) %>
                <div id="follow_form">
                <% if current_user.following?(@user) %>
                    <%= render 'users/unfollow' %>
                <% else %>
                    <%= render 'users/follow' %>
                <% end %>
                </div>
                <% end %>        
            <% end %>
            <% if user_signed_in? && @post.user.id == current_user.id %>
                <%= link_to @post, method: :delete, data:{ confirm: "本当に消しますか？"}  do %>
                    <span class="icon">投稿を消す</span>
                <% end %>
            <% end %>                
        </div>
    </div>
    <div class="cardImageWrap"><%= image_tag(@post.image.to_s, class:"cardImage") %></div>
    <div class="cardBottom">
        <div><%= render_with_hashtags(@post.text) %></div>
        <div id="comments_area"><%= render partial:'comments/index', locals:{ comments: @comments} %></div>
        <% if user_signed_in? %>
            <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        <% else %>
            <p>ログイン/登録してコメントを書き込みませんか？</p>
        <% end %>

    </div>
</div>