<!DOCTYPE html>
<html>
  <head>
    <title>MuscleShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>

  <body>
    <div class="header">
      <div class="container">    
        <div class="headerLeft">
          <div class="post">
            <%= link_to new_post_path do %>
              <i class="far fa-plus-square"></i>
            <% end %>
          </div>
        </div>
        <div class="headerCenter">
          <div class="title">
            <%= link_to "タイトル", root_path %>
          </div>
        </div>
        <div class="headerRight">
          <% if user_signed_in? %>
            <p>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </p>
          <% else %>
              <button class="headerRightLoginWrap">
                <%= link_to "ログイン", new_user_session_path, class:"headerRightLogin" %>
              </button>
              <button class="headerRightRegWrap">
                <%= link_to "登録", new_user_registration_path, class:"headerRightReg" %>
              </button>
          <% end %>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footerElement container">
        <div class="home">
          <%= link_to root_path do %>
            <i class="fas fa-home <%= controller.action_name == 'index' ? 'active': 'inactive'%>"></i>
          <% end %>
        </div>
        <div class="search"><i class="fas fa-search <%= controller.action_name == 'search' ? 'active': 'inactive'%>"></i></div>
        <div class="notice"><i class="fas fa-bell <%= controller.action_name == 'notice' ? 'active': 'inactive'%>"></i></div>
        <div class="profile">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user) do %>
              <i class="fas fa-user <%= controller.action_name == 'show' ? 'active': 'inactive'%>"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_registration_path do %>
            <i class="fas fa-user <%= controller.action_name == 'show' ? 'active': 'inactive'%>"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
